* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li a{
    list-style: none;
    margin: 10px 30px;
    text-decoration: none;
    
}

nav li:first-child{
    margin-right: auto;
}

nav li:first-child img{
    width: 300px;
    height: 300px;
}

nav li:last-child{
   margin-left: auto;
}

nav li button {
    border: 50px;
    border-radius: 30px;
    background-color: rgb(32, 113, 205);
    color: white;
    width: 150px;
    height: 70px;
    margin-right: 100px;

}

section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

section h1{
    font-size: 50px;
    margin-left: 50px;
}

.sectionA{
    height: 500px;
    width: 700px;
    border-radius: 50px;
    margin-left: auto;
    transform: translate(30% -40%);
    overflow-y: hidden;
}

.sectionB{
    height: 500px;
    width: 700px;
    border-radius: 50px;
    margin-right: auto;
    transform: translate(-20% -50%);
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
    margin-left: 40px;
}

main .left {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    width: 80%;
    margin-left: 100px;
}

main .left .option{
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    
}
main .left .option img {
    height: 70px;
    width: 70px;
}

main .left .option div {
    margin: auto;

}

main option h1 {
    font-size: 30px;
}

main option p {
    font-size: 20px;
}

main .right img {
    width: 80%;
    height: 100%;
    overflow-y: hidden;
}

.properties {
    margin-top: 200px;
    margin-left: 100px;
}

.properties {
    margin-top: 200px;
    margin-left: 100px;
}

.properties h1 {
    margin-bottom: 50px;
}

.properties .cards {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.properties .card {
    display: flex;
    background-color: rgb(244, 173, 173);
    height: 300px;
    width: 80%;
    border-radius: 3%;
}

.properties .card img {
    width: 50%;
}

.properties .card .option {
    display: grid;
    grid-template-rows: repeat(5, 20%);
}

.properties .card .option h1 {
    height: fit-content;
    font-size: 100%;
    margin: 30px;
}

.properties .card .option div {
    display: flex;
    align-items: center;
}

.properties .card .option div p {
    margin-left: 20px;
    font-size: 12px;
}

.properties .card .option div img {
    height: 30px;
    width: 30px;
    margin-left: 20%;
}

